<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
    <section class="sectionss">
        <div class="started">
            <div class="overlay"></div>
            <div class="header">
                <div class="logo">
                    <a href="/"><img src="/imgs/logo1.png" alt=""></a>
                </div>
                <div class="register">
                    <div class="register-1 change">
                        <a href="/login">Login</a>
                    </div>
                    <div class="register-2">
                        <a href="register.html" class="value">Register</a>
                    </div>
                </div>
            </div>

            <div class="get-started">
                <div class="getstar">
                    <div class="get-star">
                        <div class="get">Log In</div>
                    </div>
                    <form action="/login" method="POST">
                        <% if (locals.messages.errors) { %>
                            <% messages.errors.forEach(el => { %>
                                <div class="alert alert-danger"><%= el.msg %></div>
                            <% }) %>
                        <% } %>
                        <div class="user">
                            <i class="fa-solid fa-envelope"></i>
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" name="email" placeholder="Email" aria-describedby="emailHelp" required>
                        </div>
                        <div class="user">
                            <i class="fa-solid fa-lock"></i>
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password" required>
                        </div>
                        <button type="submit" class="btn bold">Log In</button>
                    </form>
                    <div class="forget">
                        <a href="forget.html">Forgot Password?</a>
                    </div>
                    <div class="createe">
                        <div class="account">
                            <a href="register.html">Create Account</a>
                        </div>
                        <div class="account">
                            <a href="mailto:cryptofxmgmt.gmail.com">Need Help?</a>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="footo">
                <div class="footo-1">
                    <ul>
                        <li><a href="index.html">About Us</a></li>
                        <li><a href="index.html">Privacy Policy</a></li>
                        <li><a href="index.html">Terms Of Use</a></li>
                    </ul>
                    <p>&copy; 2022. All Rights Reserved.</p>
                </div>
            </footer>
        </div>
    </section>
</body>
</html>
